.piso-nav {
	margin-bottom: 0 !important;
}

.barra {
	margin: 0;
	min-width: 100%;
}

nav .brand-logo {
	    font-size: 1.5rem;
}

nav a {
	color: $color-text !important;
}

nav ul a {
	color: $color-text !important;
	font-size: 0.8rem;
}