@import "node_modules/materialize-css/sass/materialize.scss";

$color-brand: #e0e0e0;
$color-secondary: #fff;
$color-text: #212121;

Body {
	background: $color-brand;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
}

#main-container {
	margin: 0 auto;
	background: $color-secondary;
}

.reset {
	margin: 0 auto;
	padding: 0;
}

.item {
	max-width: 40%;
	min-width: 40%;
}

@media #{$small-and-down} {
	.item {
		max-width: 100%;
		min-width: 100%;
	}
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #1976D2;
  background-color: #1976D2;
}

.vegetal {
	max-width: 3rem;
	border-radius: 50%;
}

@import "src/layout/header/styles";
@import "src/homepage/styles";
@import "src/products/pizza/styles";
@import "src/clients/signup/styles";
@import "src/clients/signin/styles";
@import "src/layout/footer/styles";
