@import "node_modules/materialize-css/sass/materialize.scss";
@import url('https://fonts.googleapis.com/css?family=Oswald');

$color-brand: #e0e0e0;
$color-secondary: #fff;
$color-text: #212121;

Body {
	background: $color-brand;
	font-family: 'Oswald', helvetica, sans-serif;
	font-size: 16px;
}

#main-container {
	margin: 0 auto;
	background: $color-secondary;
}

.reset {
	margin: 0 auto;
	padding: 0;
}

.landing-fondo {
	background: $color-brand;
	margin-bottom: 0;
}

@import "src/header/styles";
@import "src/clients/signup/styles";
@import "src/clients/signin/styles";
@import "src/layout/styles";
@import "src/carta/styles";
@import "src/products/pizza/styles";
@import "src/products/vegetal/styles";
@import "src/products/pack/styles";
@import "src/ragsystem/headersystem/styles";
@import "src/ragsystem/homesystem/styles";
@import "src/ragsystem/adm_productos/styles";
@import "src/products/item/styles";
/*@import "src/ragsystem/estadisticas/styles";*/
@import "src/footer/styles";