.header {
	min-height: 60px !important;
}

.piso-nav {
	margin: 0 !important;
}

.barra {
	margin: 0;
	min-width: 100%;
}

nav a {
	color: $color-text !important;
}

nav ul a {
	color: $color-text !important;
	font-size: 0.8rem;
}

.sp {
	padding: 0 !important;
}

.chip-user {
	margin: 12px 0 !important;
}

.chip-user:hover {
	background-color: #42a5f5 !important;
}

.iconoSign {
	line-height: inherit !important;
	max-height: 30px !important;
	margin-right: 0px !important;
}

.ragus {
	font-size: 1.8rem !important;
	color: #1976d2 !important;
}

@media #{$small-and-down} {
	.header {
		margin: 0 !important;
		min-width: 100% !important;
	}

	.smallH {
		margin: 0 !important;
		min-width: 100% !important;
	}
}