.col-text {
	padding-right: 0 !important;
}

.item-text {
	font-size: 1.2rem;
	margin: 0 !important;
}

.imagenItem {
	max-width: 50px;
	border-radius: 50%;
	margin: 0 10px;
}

.detalle-text {
	padding: 0 !important;
	font-size: 1.0rem;
	margin: 0 !important;
}

.fila-nombre {
	margin-bottom: 0 !important;
}

.precioItem {
	font-size: 1.2rem;
}

@media #{$medium-and-down} {
    .item-text, .precioItem {
    	font-size: 1.1rem;
    }

    .detalle-text {
    	font-size: 0.9rem;
    }
}

@media #{$small-and-down} {
	.item-text, .precioItem {
		font-size: 1rem;
	}

	.imagenItem {
		max-width: 40px;
	}
	.detalle-text, .precioItem {
		font-size: 0.8rem;
	}
}