.picHomeL {
	padding: 0 !important;
}

.nobottom {
	margin-bottom: 0 !important;
}

.fotoCentro {
	max-width: 100%;
}

.tituloHome {
	font-size: 1.5rem;
	font-weight: bold;
}

.textoInt {
	font-size: 1.2rem;
}

.programa {
	margin-top: 2rem;
}

.horario {
	margin: 2rem 0 0 0;
}

.horas {
	margin: 0;
}

.face {
	background: #3b5998;
	padding: 0.6rem 0rem !important;
	margin-right: 0.3rem;
}

.insta {
	background: #bc2a8d;
	padding: 0.6rem 0rem !important;
	margin-left: 0.3rem;
}

.iconoRedes {
	color: #fff;
	padding: 0.6rem 1.4rem;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tweebl');
  src:  url('fonts/icomoon.eot?tweebl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tweebl') format('truetype'),
    url('fonts/icomoon.woff?tweebl') format('woff'),
    url('fonts/icomoon.svg?tweebl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}

.compraHome {
	color: white !important;
	padding: 0 10px !important;
	margin: 0 !important;
	position: fixed;
	z-index: 100;
}

.contComH {
	min-height: 0 !important;
}

@media #{$medium-and-down} {
	.tituloHome {
		font-size: 1.4rem;
	}

	.textoInt {
		font-size: 1.1rem;
	}	
}

@media #{$small-and-down} {
	.tituloHome {
		font-size: 1.3rem;
	}

	.textoInt {
		font-size: 1rem;
	}
}