.tabs .indicator {
    background-color: #fff !important;
    height: 4px;
}

.systemTitulo {
	font-size: 2rem !important;
	margin: 1rem 0 !important;
}

.datoVenta {
	margin: 0 !important;
}
.estado {
	font-size: 1.5rem;
	margin: 0;
}

.pasar {
	font-size: 1.5rem;
	margin: 1rem 0;
}

.estadoCiclo {
	margin: 1rem 2rem;
	padding: 6px 0;
}

.chipN {
	margin-left: 1rem;
}

.separar {
	margin-bottom: 2rem;
}