.collapsible.popout > li {
	margin-bottom: 3rem;
}

.menu-text {
	font-size: 1.2rem;
	margin: 0 auto;
}

.precio {
	font-size: 1.2rem;
}

.pack-text {
	margin: 2rem;
}

.padding1 {
	padding: 1rem;
}

.paddingl {
	padding: 1rem 0 0 2rem !important;
}

.ajuste-menu-store {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

@media #{$medium-and-down} {
    .menu-text, .precio {
    	font-size: 1.1rem;
    }
}

@media #{$small-and-down} {
	.menu-text, .precio {
		font-size: 1rem;
	}
}

.top {
	margin-top: 2rem;
}

.dropdown-content li > span {
	color: #1976d2;
}

.separar {
	margin-bottom: 2rem;
}