.collapsible.popout > li {
	margin-bottom: 3rem;
}

.menu-text {
	font-size: 1.2rem;
	margin: 0 auto;
}

.precio {
	font-size: 1.2rem;
}

.pack-text {
	margin: 2rem;
}

.padding1 {
	padding: 1rem;
}

.paddingl {
	padding: 1rem 0 0 2rem !important;
}

.ajuste-menu-store {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction: row;
}

.top {
	margin-top: 2rem;
}

.topOf {
	margin-top: 2rem;
}

.dropdown-content li > span {
	color: #1976d2;
}

.separar {
	margin-bottom: 2rem;
}

.ingContenedor {
	margin-bottom: 0 !important;
}

.btnOferta {
	margin: 2rem 0 !important;
}

.itemsOferta {
	padding: 0;
}

.slider .indicators .indicator-item.active {
	background-color: #1976d2;
}

.chip-carro {
	color: white !important;
	padding: 0 10px !important;
	margin: 0 !important;
	position: fixed;
	z-index: 100;
}

.carrito {
	line-height: inherit !important;
	max-height: 30px !important;
	margin-right: 5px !important;
}

@media #{$medium-and-down} {
    .menu-text, .precio {
    	font-size: 1.1rem;
    }
}

@media #{$small-and-down} {
	.menu-text, .precio {
		font-size: 1rem;
	}

	.collapsible.popout > li {
		margin-bottom: 2rem;
	}

	.itemsCarta {
		padding: 0;
	}

	.topOf {
		margin-top: 1rem;
	}

	.sliderMas {
		font-size: 1.2rem !important;
	}

	.sliderTit {
		font-size: 1.4rem !important;
	}
}