.signin-box {
	background: $color-secondary;
	border-radius: 5px;
	padding: 10px;
	margin: 5rem auto;
}

.signin-form h2 {
	font-size: 1.5em;
}

.signin-form .row {
	margin-bottom: 0;
}

.signin-btn {
	margin: 2rem auto !important;
}

/*
.venta-item {
	padding: 1rem 2rem !important;
}*/