.signin-box {
	background: $color-secondary;
	border-radius: 5px;
	padding: 10px;
	margin: 5rem auto;
}

.top {
	margin-top: 2rem;
}

.signin-form h2 {
	font-size: 1.5em;
}

.signin-title {
	font-size: 2rem;
}
.signin-form .row {
	margin-bottom: 0;
}

.signin-btn {
	margin: 2rem auto !important;
}