.pizza-card-content {
	max-width: 27%;
	margin: 2rem 0 !important;
}	

.pizza-text {
	max-width: 100%;
	font-size: 1rem !important;
	color: $color-brand;
	margin-bottom: 0 !important;
}

.pizza-content-text {
	font-size: 1rem;
	padding: 1.5rem 0 !important;
	text-align: justify;
}

.card .card-content {
    padding: 0.8rem !important;
}

.card .favorite {
	display: none;
}

.botonAgregar {
	margin-bottom: 1rem !important;
}

.pricePizza {
	font-size: 1rem;
}

@media #{$medium-and-down} {
    .pizza-card-content {
    	max-width: 42%;
    }
}

@media #{$small-and-down} {
	.pizza-card-content {
		max-width: 90%;
	}
}