.pack-card-content {
	max-width: 39%;
	margin: 2rem 0 !important;
}	

@media #{$medium-and-down} {
    .pack-card-content {
    	max-width: 42%;
    }
}

@media #{$small-and-down} {
	.pack-card-content {
		max-width: 90%;
	}
}

.opt-pizza {
	padding: 0 !important;
	margin: 0 !important;
}

.opt-name li > span {
	padding: 5px 0;
	font-size: 1rem !important;
}

.item-name-pack {
	font-size: 1rem;
	padding: 10px 0 !important;
	margin: 0 !important;
}

.pack-price {
	line-height: 2rem;
	margin: 1rem 0 0 1rem;
	font-size: 1rem;
}

.itemOpt {
	padding: 10px 0;
}

.itemOpt:hover {
	background-color: #e0e0e0;
}

.hover:hover {
	background-color: #fff;	
}

.list {
	display: none;
}

.itemOpt:hover > ul {
	display: block;
}

.elegirOpcion {
	font-size: 1rem;
	color: $color-text;
}

.opcionElejida {
	font-size: 1rem;
	color: $color-text;
}