.fondo{
	background: $color-secondary;
}

.base {
    padding-bottom: 0;
}

.pic-ini {
	max-width: 100%;
}

.principal {
	background: $color-brand;
	padding: 1.5rem;
}

.principal2 {
	margin: 0 !important;
}

.seccion {
	background: $color-secondary;
}

.tituloCarro {
	font-size: 2rem !important;
}

.itemCarrito {
	margin-bottom: 0 !important;
}

.iconoBorrar {
	color: #1976d2;
}

.carritoV {
	padding: 20px 0 0 0 !important;
}

.boxIng {
	margin-bottom: 0 !important;
}

.filaIng {
	margin-bottom: 10px;
}

.totales {
	font-size: 20px;
	font-weight: bold;
}

.lasagna {
	margin: 0 !important;
	padding: 10px 0 0 0;
}

.qLasagnaAdic {
	margin: 0 !important;
	padding: 0 !important;
}

@media #{$medium-and-down} {
	.principal {
		margin: 0 0 !important;
		min-width: 100%;
	}

	.tituloCarro {
		font-size: 1.8rem !important;
	}	
}

@media #{$small-and-down} {
	.tituloCarro {
		font-size: 1.4rem !important;
	}

	.titCarro {
		padding: 0 !important;
	}

	.arregloPad {
		padding: 10px 5px 10px 14px !important;
	}

	.armandoTit {
		font-size: 1.5rem !important;
	}
}